body {
	background-color: #edf0da;
	width: 100%;
	margin: 0;
	font-size: 24px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#title {
	background-color: #392f5a;
	color: #fafafa;
	margin: auto;
	padding: 0.5em;
}

#title .h1 {
	font-size: 1em;
}

.quotes-author-description {
	font-size: 0.8em;
}

#img-div {
	margin-top: 3em;
	font-size: 0.7em;
}

#image {
	display: block;
	min-width: 50%;
	max-width: 100%;
	height: auto;
	margin: auto;
}

#tribute-info {
	background-color: #6c596e;	
	color: #fafafa;
	width: 70%;
	margin: auto;
	padding: 0.5em;
}

#tribute-info h2 {
	font-size: 1.5em;
}

#tribute-info p {
	font-size: 0.7em;
}


